*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
   
}
.container{
    width:100vw;
    height:100vh;
    background-image: url(Untitled-1-01.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}
.logo-container{
    margin-top: 1%;
    width:100%;
    text-align: left;
}
.logo{

    width:20%;
    padding:20px 0;
    cursor: pointer;
}
.content{
    top:42%;
    position:absolute;
    transform: translatey(-50%);
    color:white;


}
.content h1{
    font-size:380%;
    font-weight:600;
}

.content h1 span{
    color:#f99900;
}
.launch-time{
    display: flex;

}
.launch-time div{
    flex-basis:100px;
   
}
.launch-time div p{
    font-size: 58px;
    margin-top:5px;
}
.bus{
    width:250px;
    position: absolute;
    left:1%;
    bottom:0;
    animation: bus 15s linear infinite;
}

#notify-form{
  margin-left:-140px;
}
.content a{
    display:block;
    margin:14px 0;
    color:#f9daa2;
    text-decoration: none;

}
.content a:hover{
    color:white;
}


@keyframes bus{
    0%{
        left:-20%;
        opacity:1;
    }
    100%{
        left:105%;
        opacity: 1;
    }
}


@media (min-width:1550px) {
    .bus{
        width:20vw;
    }

}
@media (max-width:1125px) {
    .content h1{
        font-size:360%;
    }
    .launch-time div p {
        font-size: 58px;
       
    }
    #notify-form{
        margin-left:-110px;
      }
}
@media (max-width:870px) {
    .content h1{
        font-size:280%;
    }
    .launch-time div p {
        font-size: 50px;
       
    }
    #notify-form{
        margin-left:-26px;
      }
    
}
@media (max-width:769px) {
    .logo{

        width:40%;
    }
    .content{
        width:80%;
    }
    .launch-time{
        width:50%;
    }
    .content h1{
        font-size:240%;
    }
    .launch-time div p {
        font-size: 40px;
       
    }
    #notify-form{
        margin-left:-100px;
      }
}
@media (max-width:490px) {
    .content{
        top:30%;
    }
    .launch-time{
        width:70%;
    }
    .content{
        width:100%;
    }
    @keyframes bus{
        0%{
            left:-55%;
            opacity:1;
        }
        100%{
            left:100%;
            opacity: 1;
        }
    
}
}
@media (max-width:376px){
    .content{
        top:40%;
    }
    .bus{
        bottom:-4%;
    }
    .launch-time div p {
        font-size: 35px;
       
    }
    .launch-time{
        width:95%;
    }
    #notify-form{
        margin-left:-30px;
        width:100%;
      }
}
@media(max-height:460px){
    .logo-container{
        text-align: right;
    }
}